@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans;
}

:root {
  --gap: clamp(1rem, 6vw, 3rem);
  --full: minmax(var(--gap), 1fr);
  --content: min(1200px, 100% - var(--gap) * 2);
  --popout: minmax(0, 2rem);
  --feature: minmax(0, 5rem);
}
